.hero {
  min-height: calc(100vh - 86px);
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 2400px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  @media (max-width: 1299px) {
    min-height: initial;
    margin-top: 0;
  }

  @media (max-width: 1199px) {
    padding-top: 150px;
  }

  @media (max-width: 1023px) {
    padding-top: 50px;
    padding-bottom: 150px;
  }

  @media (max-width: 767px) {
    display: block;
    padding-top: 0;
    padding-bottom: 50px;
  }
}

.imgBack {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  max-width: 50%;
  object-fit: cover;

  @media (max-width: 1299px) {
    height: auto;
    top: auto;
    bottom: 0;
  }

  @media (max-width: 1023px) {
    height: auto;
    object-fit: contain;
    max-width: 30%;
  }

  @media (max-width: 767px) {
    position: static;
    max-width: 100%;
    display: block;
  }
}

.wrap {
  max-width: 50%;
  animation: wrapAnimation 1s ease-in-out forwards;
  position: relative;
  padding-right: 20px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(5deg);
    right: 50px;
    border-radius: 16px;
    opacity: 0.2;
    z-index: -1;
    width: 1400px;
    height: 600px;
    background: linear-gradient(115.14deg, #fff 6.39%, #c9c9c9 99.79%);
    -webkit-clip-path: ellipse(closest-side closest-side at 50% 50%);
    clip-path: ellipse(closest-side closest-side at 50% 50%);
    animation: heroAnimation 1s ease-in-out forwards;
  }
  @media (max-width: 1023px) {
    height: auto;
    object-fit: contain;
    max-width: 75%;
    &:before {
      width: 1000px;
      height: 400px;
    }
  }

  @media (max-width: 767px) {
    max-width: 100%;
    padding-right: 0;
    padding-top: 20px;
    &:before {
      right: 20px;
      width: 700px;
      height: 300px;
    }
  }
}

@keyframes heroAnimation {
  0% {
    transform: translateY(-50%) rotate(5deg) scale(0);
  }
  100% {
    transform: translateY(-50%) rotate(5deg) scale(1);
  }
}

@keyframes wrapAnimation {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.title {
  text-transform: uppercase;
  margin: 0;
}

.sutTitle {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  @media (max-width: 767px) {
    font-size: 28px;
  }
}

.des {
  font-size: 20px;
  margin-bottom: 50px;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.actionButton {
  position: relative;
  display: inline-flex;
  a {
    text-transform: uppercase;
  }
  @media (max-width: 767px) {
    width: 100%;
    a {
      width: 100%;
    }
  }
}

.arrow {
  position: absolute;
  right: -15px;
  transform: rotate(180deg) translateX(100%);
  top: 14px;
  animation: arrowAnimation 1s ease-in-out forwards;

  @media (max-width: 767px) {
    display: none;
  }
}

@keyframes arrowAnimation {
  0% {
    transform: rotate(180deg) translateX(-200%) scale(0);
  }
  100% {
    transform: rotate(180deg) translateX(-100%) scale(1);
  }
}
